@import "tailwindcss";

:root {
  --background: #12151C;
  --foreground: #FFFFFF;
}

@theme {
  --color-midnight: #1F222F;
  --color-lime: #D7FE63;
  --color-lime-dark: #C0E550;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "neulis-neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

.fatfrank {
  font-family: fatfrank, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navMenu {
  padding: 5px 30px; 
  border-radius: 17px;
  transition: background-color 150ms ease, color 150ms ease;
}

.navMenu:hover {
  background-color: #D7FE63;
  color: black;
}

.navMenuBroswe {
  padding: 5px 30px; 
  border-radius: 17px 17px 0 0;
  transition: background-color 150ms ease, color 150ms ease;
}

.navMenuBroswe:hover,
.group:hover .navMenuBroswe {
  border-radius: 17px 17px 0 0;
  background-color: #D7FE63;
  color: black;
}

.fade-bottom {
  height: 250px; 
  background: linear-gradient(
    to bottom,
    rgba(18,21,28,1) 20%,  
    rgba(18,21,28,0) 100% 
  );
}

