@import "tailwindcss";

:root {
  --background: #12151C;
  --foreground: #FFFFFF;
}

@theme {
  --color-midnight: #1F222F;
  --color-lime: #D7FE63;
  --color-lime-dark: #C0E550;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "neulis-neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

html, body {
    scrollbar-width: none;
}

html, body {
    -ms-overflow-style: none;
}

.fatfrank {
  font-family: fatfrank, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navMenu {
  padding: 5px 30px; 
  border-radius: 17px;
  transition: background-color 150ms ease, color 150ms ease;
}

.navMenu:hover {
  background-color: #D7FE63;
  color: black;
}

.navMenuBroswe {
  padding: 5px 30px; 
  border-radius: 17px 17px 0 0;
  transition: background-color 150ms ease, color 150ms ease;
}

.navMenuBroswe:hover,
.group:hover .navMenuBroswe {
  border-radius: 17px 17px 0 0;
  background-color: #D7FE63;
  color: black;
}

.fade-bottom {
  height: 250px; 
  background: linear-gradient(
    to bottom,
    rgba(18,21,28,1) 20%,  
    rgba(18,21,28,0) 100% 
  );
}


.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 48rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
  padding-left: 50px;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
}
.embla__controls {
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.embla__dot {
  -webkit-tap-highlight-color: #FFFFFF;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  background-color: #D7FE63;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
  transition: all 0.3s;
}
.embla__dot--selected:after {
  background-color: #FFFFFF;
}